@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Roboto&display=swap');

/* Global */ 

* {
    box-sizing: border-box;
}

html{
    background-color: #000000; 
    color: #ffffff;
    font-size: 62.5%;
}

body {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Logo &  Navigation Bar */ 

#logo {
    margin-left: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 6.5rem;
    text-shadow: 2px 2px #5f0a87;
    font-weight: 900;
}

#logo span {
    font-size: 4.5rem;
    color: #5f0a87;
    text-shadow: none; 
    background-image: linear-gradient(to right,#5f0a87,#320046);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #000000;
}

header li {
    display: inline-block;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}

#navbar li {
    padding: 5px;
}

#navbar li:hover {
    border-bottom: 1.5px solid #5f0a87;
    background-image: linear-gradient(to right,#5f0a87,#320046);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#cta-button {
    margin-right: 60px;
    background: linear-gradient(to right,#5f0a87,#320046); 
    border-radius: 3rem;
    padding: 2rem;
    cursor: pointer;
    box-shadow: 0 2px #5f0a87; 
}

#cta-button li {
    font-size: 1.3rem;
}

#cta-button:hover {
    background: linear-gradient(to left,#5f0a87,#320046);
}

#cta-button:active {
    transform: translateY(1px);
  }

.fa-note-sticky {
    font-size: 2rem;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
}

footer li {
    display: inline-block;
    margin-bottom: 8px;
    letter-spacing: 10px;
    margin-top: 10px;
}

.left-icon :hover {
    color: #ffffff;
    transform: translateY(5px);
}

.right-icon :hover {
    color: #ffffff;
    transform: translateX(5px);
}

footer a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 8px;
}

.fa-copyright {
    font-size: 1rem;
}

.fab {
    color: #320046;
    font-size: 3rem;
}

/* Home Page  */

#trending-page-container {
    width: 100%;
    margin: auto;
}

.home-page-mast {
    width: 94%;
    height: 50px;
    background-color: #320046;
    margin: auto;
}

/* Home Page Thread */

.thread-content-container {
    width: 94%; 
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.thread {
    width: 400px;
    height: 400px;
    background-color: #000000;
    margin:40px;
    border-radius: 5px;
    border: 3px solid #320046;
    overflow: hidden;
}

.thread-meta-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: red;
    font-size: 1.2rem;
}

.thread-meta-content {
    background-color: yellowgreen;
    border-radius: 5px;
    margin: 5px;
}

.thread-body-container {
    margin: 10px;
}
.thread-heading{
    background-color: brown;
    font-size: 1.3rem;
}

.thread-link {
    background-color: #320046;
    font-size: 1.2rem;
}

.thread-content {
    background-color: green;
    font-size: 1.2rem;
}

.thread-image {
    background-color: #2d3032;
    width: 95%;
    height: 100px;
}

/* Postit Page Header */

#postit-heading {
    margin-left: 500px;
    font-size: 2rem;
    text-transform: uppercase;
}

hr {
    border: 0.7px solid #320046;
    width: 50%;
}

#postit-form-container {
    width:  50%;
    height: 50rem;
    background-color: #2d3032;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}


form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.input-general {
    padding: 10px;
    border: solid 2px #320046; 
    border-radius: 5px;
    margin-top: 15px;
}