@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Londrina+Sketch&display=swap');

/* Global */ 

* {
    box-sizing: border-box;
}

html{
    color: #ffffff;
    font-size: 62.5%;
}

body {
    margin: 0; 
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#background-image {
    height: 100%;
    width: 100vw;
    background-image: url("http://res.cloudinary.com/cspaveljb/image/upload/v1499110969/cork_w2tt25.jpg");
}


a {
    text-decoration: none;
    color: inherit; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Logo &  Navigation Bar */ 

#logo {
    margin-left: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    font-weight: 900;
    text-shadow: 0 5px #000000, 0 8px #000000; 
    font-family: 'Londrina Sketch', cursive;
}

#logo span {
    font-size: 6rem;
    text-shadow: none; 
    text-shadow: 0 4px #000000, 0 8px #000000;
    font-family: 'Cabin Sketch', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    position: sticky;
    top: 0;
}

header li {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 0 3px #000000, 0 6px #000000;
}

#navbar li {
    padding: 5px;
}

#navbar li:hover {
    border-bottom: 1.5px solid #000000;
}

#navbar li:active {
    transform: translateY(5px);
}

#cta-button {
    margin-right: 60px;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 5px solid #000000;
    box-shadow: 2px 4px #000000;
}

#cta-button:hover {
    transform: translateY(5px);
}

#cta-button li {
    font-size: 2rem;
    text-shadow: 0 2px #000000, 0 4px #000000;
}

.fa-note-sticky {
    font-size: 2rem;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
}

footer li {
    display: inline-block;
    margin-bottom: 8px;
    letter-spacing: 10px;
    margin-top: 10px;
}

.left-icon :hover {
    color: #ffffff;
    transform: translateY(5px);
}

.right-icon :hover {
    color: #ffffff;
    transform: translateX(5px);
}

footer a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 8px;
}

.fa-copyright {
    font-size: 1rem;
}

.fab {
    font-size: 3rem;
}

.contact-postit {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    font-size: 1.8rem;
}

/* Home Page  */

#trending-page-container {
    width: 100%;
    margin: auto;
}

.home-page-mast {
    width: 90%;
    height: 50px;
    background-color: #000000;
    margin: auto;
}

/* Home Page Thread */

.thread-content-container {
    width: 94%; 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.thread {
    width: 400px;
    height: 400px;
    margin:40px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border: 1px solid rgba(0,0,0,.25);
    color: #000000;
}

.thread:hover {
    border: 1px solid rgba(0,0,0,.75);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.thread1 {
    transform: rotate(-0.5deg);
    -webkit-transform: rotate(-0.5deg);
    -moz-transform: rotate(-0.5deg);
    background-color: #feff9c; 
}

.thread2 {
    transform: rotate(0.5deg);
    -webkit-transform: rotate(0.5deg);
    -moz-transform: rotate(0.5deg);
    background-color: #ff65a3;
}

.thread3 {
    transform: rotate(1.0deg);
    -webkit-transform: rotate(1.0deg);
    -moz-transform: rotate(1.0deg);
    background-color: #7afcff;
}

.thread4 {
    transform: rotate(-1.0deg);
    -webkit-transform: rotate(-1.0deg);
    -moz-transform: rotate(-1.0deg);
    background-color: #ffa930;
}

.thread5 {
    transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    background-color: #74ed4b;
}

.thread6 {
    transform: rotate(1.5deg);
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    background-color: #ff7455;
}

.thread7 {
    transform: rotate(2.0deg);
    -webkit-transform: rotate(2.0deg);
    -moz-transform: rotate(2.0deg);
    background-color: #1ba8b1;
}

.thread8 {
    transform: rotate(-2.0deg);
    -webkit-transform: rotate(-2.0deg);
    -moz-transform: rotate(-2.0deg);
    background-color: #ff0079;
}

.thread9 {
    transform: rotate(0.5deg);
    -webkit-transform: rotate(0.5deg);
    -moz-transform: rotate(0.5deg);
    background-color: #dcff46;
}

.thread-meta-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.2rem;
}

.thread-meta-content {
    border-radius: 5px;
    margin: 5px;
}

.thread-body-container {
    margin: 10px;
}
.thread-heading{
    font-size: 1.3rem;
}

.thread-link {
    font-size: 1.2rem;
}

.thread-content {
    font-size: 1.2rem;
}

.thread-image {
    width: 95%;
    height: 100px;
}

/* Postit Page Header */

.postit-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#postit-heading {
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0 8px #000000;
    font-family: 'Cabin Sketch', cursive;
}

hr {
    border: 1px solid #000000;
    width: 40%;
}

#postit-form-container {
    width:  40%;
    height: 45rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 31px solid transparent;
    border-image-source: url("http://res.cloudinary.com/cspaveljb/image/upload/v1499110958/corkborder_f8cm3g.png");
    border-image-slice: 31 29;
    border-image-width: 31px 29px;
}


form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

/* input:focus::placeholder {
    color: blue; 
} */

input::placeholder {
    color: #ffffff;
    transition: color 5 ease;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px #000000;
}

textarea::placeholder {
    color: #ffffff; 
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px #000000;
}

.input-general {
    padding: 7px;
    border: solid 2px #4c3221; 
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 2px 4px #000000;
}

#form-heading {
    background-color: #1ba8b1;
}

#form-content {
    background-color: #74ed4b;
}

#form-url {
    background-color: #ff0079;
}

#form-category {
    background-color: #ff7455;
    width: 25%;
}

#form-submit {
    background-color: #dcff46;
    cursor: pointer;
    font-family: 'Cabin Sketch', cursive;
}

#form-submit:hover {
    background-color: transparent;
}

#form-submit:active {
    transform: translateY(5px);
}

.content {
    height: 205px;
}

.category-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

