{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="POSTit is a social media internet/discussion forum used to connect people and ideas together">
    <meta name="keywords" content="social meda, internet forum, discussion forum">
    <meta name="authoer" content="Faris Dhoot">
    <script src="https://kit.fontawesome.com/cd2a226592.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>POSTIT</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="{% url 'home' %}">
            <h1 id="logo">POST<span>{it}</span></h1>
        </a>

        <!-- Navigation Bar -->
        <nav id="navbar">
            <ul>
                <li>
                    <a href="{% url 'home' %}">HOME</a>
                </li> 
                <li>
                    <a href="{% url 'postit' %}">POSTIT</a>
                </li>
                <li>
                    <a href="{% url 'profile' %}">PROFILE</a>
                </li>

            </ul>
        </nav>
        
        <div id="cta-button">
            <li>
                <a href="#">LOGIN/SIGNUP <i class="fa-solid fa-note-sticky"></i></a>
            </li>
        </div>
    </header>

    <!-- Main Content -->
    {% block body %}
       <!-- Inserts Other Tempaltes Content -->
    {% endblock body %}

    <div class="d"></div>
    <!-- Footer -->
    <footer>
        <ul>
            <li class="left-icon">
                <a href="https://twitter.com" rel="noopener" target="_blank" aria-label="Explore our Twitter page (opens in a new tab)"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="left-icon">
                <a href="https://instagram.com" rel="noopener" target="_blank" aria-label="Explore our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="right-icon">
                <a href="https://facebook.com" rel="noopener" target="_blank" aria-label="Explore our Facebook page (opens in a new tab)"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="right-icon">
                <a href="https://youtube.com" rel="noopener" target="_blank" aria-label="Explore our Youtube page (opens in a new tab)"><i class="fab fa-youtube"></i></a>
            </li>
        </ul>
            <a class="contact" href="mailto:postit@postit.com">Contact Us: postit@postit.com</a>
            <span><i class="far fa-copyright"></i> 2022 POSTit</span>
    </footer>

    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/cd2a226592.js" crossorigin="anonymous"></script>

  


    
</body>
</html>