{% extends "base.html" %} {% block body %}
<div id="postit-page-container">
    <div class="postit-heading-container">
        <div id="postit-heading">
            <h2>Create A Post</h2>
        </div>
        <hr />
    </div>

    <section aria-label="create content form" action="add">
        <div id="postit-form-container">
            <div id="postit-form-contnet">
                <form method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="category-image-container">
                        <input class="input-general" id="form-submit" type="submit" value="POST" aria-label="post content" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock body %}