{% extends "base.html" %}

{% block body %}

<div id="trending-page-container">
    <div class="postit-heading-container">
        <div id="postit-heading">
            <h2>Full Post</h2>
        </div>
        <hr>
    </div>

    <div class="full-thread-container">
        <div class="full-thread">
            <div class="full-thread-meta-container">
                <div  class="full-thread-meta-content">
                    <p>{{ postit.author }}</p>
                </div>
                <div class="full-thread-meta-content">
                    <p>{{ postit.generated_on }}</p>
                </div>
                <div class="full-thread-meta-content">
                    <p>{{ postit.votes }}</p>
                </div>

                {% if postit.thread_starter %}
                <div class="full-thread-meta-content">
                    <p>Thread Starter</p>
                </div>
                {% endif %}
            </div>

            <div class="full-thread-body-container">
                <div class="full-thread-heading">
                    <h3>{{ postit.heading }}</h3>
                </div>

                <div class="full-thread-content">
                    <p>{{ postit.body }}</p>
                </div>

            {% if postit.link %}
            <div class="full-thread-link">
                <a href="{{ postit.link }}" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)"> {{ postit.link }}</a>
            </div>
            {% endif %}
          
            
            {% if postit.image %}
            <div class="full-thread-image">
                <img src="{{ postit.image }}">
            </div>
            {% endif %}
            </div>
        </div>
    </div>    
</div>

{% endblock body %}