{% extends 'base.html' %}

{% block body %}
<div id="trending-page-container">
    <div class="home-page-mast">
        <h2>Trending</h2>
    </div>

    <div class="thread-content-container">
        <div class="thread">

        </div>
        <div class="thread">

        </div>
        <div class="thread">

        </div>
        <div class="thread">

        </div>
        <div class="thread">

        </div>
        <div class="thread">

        </div>x
    </div>

</div>


<div class="postit-thread">
    <a href="#">
        <h2>Title</h2>
        <p>Content</p>
        <image>Picture</image>
        <p>Link</p>
        <p>Topics</p>
    </a>
</div>
{% endblock body %}