{% extends "base.html" %}

{% block body %}
<div id="trending-page-container">
    <div class="postit-heading-container">
        <div id="postit-heading">
            <h2>Trending</h2>
        </div>
        <hr>
    </div>

    <div class="thread-content-container">
        {% for postit in postits %}
        <div class="thread thread1">
            <div class='thread-pin'></div>
            <div class="thread-meta-container">
                <div  class="thread-meta-content">
                    <p>{{ postit.author }}</p>
                </div>
                <div class="thread-meta-content">
                    <p>{{ postit.generated_on }}</p>
                </div>
                <div class="thread-meta-content">
                    <p>{{ postit.votes }}</p>
                </div>
                <div class="thread-meta-content">
                    <p>{{ postit.thread_starter }}</p>
                </div>
            </div>

            <a href="#">
                <div class="thread-body-container thread-heading">
                    <h3>{{ postit.heading }}</h3>
                </div>
            </a>

            <div class="thread-body-container thread-link">
                <a href="{{ postit.link }}" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)"> {{ postit.link }}</a>
            </div>
            <div class="thread-body-container thread-content">
                <p>{{ postit.body }}</p>
            </div>
            
            <div class="thread-body-container thread-image">
                <img src="{{ postit.image.url }}">
            </div>
        </div>
        {% if forloop.counter|divisibleby:9 %}

        {% endif %}

        {% endfor %}
    </div>    
</div>

{% endblock body %}

<!-- <div class="thread thread2">
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>
<div class="thread thread3">
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>
<div class="thread thread4">
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>
<div class="thread thread5">
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>
<div class="thread thread6"> 
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>         
</div>
<div class="thread thread7">
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>
<div class="thread thread8">
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>
<div class="thread thread9">
    <div class='thread-pin'></div>
    <div class="thread-meta-container">
        <div class="thread-meta-content">
            <p>Thread Starter</p>
        </div>
        <div class="thread-meta-content">
            <p>Topic</p>
        </div>
        <div  class="thread-meta-content">
            <p>Username</p>
        </div>
    </div>

    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-link">
        <a href="https://www.google.com/" rel="noopener" target="_blank" aria-label="Explore thread content link (opens in a new tab)">https://www.google.com/</a>
    </div>
    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div> -->

