{% extends 'base.html' %}

{% block body %}
<div>
    <h2>Create A Post</h2>
</div>
<hr>

<section aria-label="create content form">
    <div id="postit-form-container">
        <div id="postit-form-contnet">
            <form>
                <input type="text" placeholder="Title" aria-label="create title">

                <textarea type="text" placeholder="Content" aria-label="create content"></textarea>

                <input type="text" placeholder="Category" aria-label="define content category">

                <input type="image" id="image-label" placeholder="Image" aria-label="upload image">

                <input type="url" placeholder="Enter an https:// URL:" aria-label="insert url">
                
                <input type="submit" placeholder="POST" aria-label="post content">
            </form>
        </div>
    </div>
</section>



{% endblock body %}