{% extends 'base.html' %}

{% block body %}
<div>
    <h2>Create A Post</h2>
</div>
<hr>

<div id="postit-form-container">
    <div id="postit-form-contnet">
        <form>
            <label for="title" id="title-label">Title</label>
            <input type="text" id="title-label" placeholder="Title">

            <label for="content" id="content-label">Content</label>
            <textarea type="text" id="content-label" placeholder="Content"></textarea>

            <label for="category" id="category-label">Category</label>
            <input type="text" id="category-label" placeholder="Category">

            <label for="image" id="image-label">Image</label>
            <input type="image" id="image-label" placeholder="Image">

            <label for="url" id="url-label">URL</label>
            <input type="url" placeholder="Enter an https:// URL:">
            
            <input type="submit" placeholder="POST">
        </form>

    </div>
</div>


{% endblock body %}