{% extends "base.html" %}

{% block body %}

<div class="profile-container">
    <div class="profile-info-container">
        <h2> {{ user.get_username }}</h2>
    </div>
</div>
<hr>

<div class="thread-content-container user-posts-container">
    {% for postit in postits %}
     <div class="thread thread1 user-posts">
            <div class='profile-pin'></div>
            <a href="#">
                <div class="thread-body-container profile-thread-heading">
                    <h3>{{ postit.heading }}</h3>
                </div>
            </a>
    
            <div class="thread-body-container profile-thread-content">
                <p>{{ postit.body }}</p>
            </div>

            <div class="edit-delete-button">
                <a href="/edit/{{ postit.id }}">
                    <button>EDIT</button>
                </a>
                    <button class="defensive-button">DELETE</button>
            </div>
        </div>
        <div class="edit-delete-button" id="delete-defensive-container">
            <div class="delete-defensive">
                <p>Are you sure you want to delete this post?</p>
                <a class="remove-defensive" href="/delete/{{ postit.id }}">
                    <button>DELETE</button>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock body %}

<!-- <div class="thread thread2 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>
    
    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>

<div class="thread thread3 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>

<div class="thread thread4 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>

<div class="thread thread5 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>

<div class="thread thread6 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>

<div class="thread thread7 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>

<div class="thread thread8 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div>

<div class="thread thread9 user-posts">
    <div class='profile-pin'></div>
    <a href="#">
        <div class="thread-body-container thread-heading">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, blanditiis quo. Quas perspiciatis modi et dolorum dicta, nam animi impedit error voluptatibus fugiat natus qui nostrum quod adipisci nulla totam?</h3>
        </div>
    </a>

    <div class="thread-body-container thread-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, doloremque! Impedit, minus numquam tempora, quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
            Lorem quisquam aliquid esse, ad corrupti eveniet ipsam perferendis suscipit obcaecati at accusantium vitae sed reiciendis velit?
        </p>
    </div>

    <div class="thread-body-container thread-image">
        <image>Picture</image>
    </div>
</div> -->