{% extends 'base.html' %}

{% block body %}

<div class="profile-container"> 
    <div class="profile-image-container">
        <div class="user-image">
        </div>

    </div>
    <div class="profile-info-container">
        <h2>FARIS DHOOT</h2>
    </div>
</div>

<div class="thread-content-container user-posts-container">
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
    <div class="thread user-posts">
    </div>
</div>

{% endblock body %}